* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './containers/start';
@import './containers/authentication';

@import './components/menu';

.text_light {
    color: black;
}

.text_dark {
    color: white;
}

.form-dark {
    background-color: #212529;
    color: #f8f9fa;
    width: 100%;
}

.form-light {
    background-color: #f8f9fa;
    color: black;
    width: 100%;
}